{% load static %}
<link rel="stylesheet" href="{% static "css/styles.css" %}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" id="mi-brand" href="{% url 'index' %}">
      <img src="{% static 'imgs/auto_verde.png' %}" alt="Sistema Vehículos" height="20">
      
      <span class="navbar-text">Vehículos VVVFS</span>
      &nbsp
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon custom-toggler"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" id="opciones">
        &nbsp
        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        &nbsp
        {% if user.is_authenticated %}
          {% if user.is_superuser %}
            &nbsp
            <a class="nav-link" href="/listar">Catálogo</a>
            &nbsp
            <a class="nav-link" href="/vehiculos/add">Agregar</a>
            &nbsp
            <a class="nav-link" href="{% url 'usuarios' %}">Usuarios</a>
            &nbsp
          {% elif perms.vehiculo.can_add_vehiculo_model %}
            &nbsp
            <a class="nav-link" href="/listar">Listar</a>
            &nbsp
            <a class="nav-link" href="/vehiculos/add">Agregar</a>
            &nbsp
          {% else %}
            &nbsp
            <a class="nav-link" href="/listar">Listar</a>
            &nbsp
          {% endif %}
          <div class="navbar-nav">
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
         
           
            <a class="navbar-text" id="colder1">Bienvenido, <strong>{{ user.username }}</strong></a>
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            <a class="nav-link" id="colder2" href="{% url 'logout_view' %}">Logout</a>
            &nbsp
          </div>  
        {% else %}
          <div class="navbar-nav">
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            &nbsp
            <a class="nav-link" id="colder3" href="{% url 'login_view' %}">Login</a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</nav>